ion-avatar {
    height: 150px;
    width: 100%;
    font-size: 16px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    //--border-radius: 0;
}

ion-avatar img {
    width: 95px;
    height: 95px;    
    
}

ion-title{
    color:rgb(51, 39, 95);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style:inherit;
}

ion-card {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100px;
    background-color: rgb(5, 5, 5);
    font-family: cursive;
    color: rgb(57, 57, 158);
}

ion-card ion-card-header {
    padding: 10px 10px;

}

ion-card ion-card-content {
    padding: 10px 10px;
}

ion-card-content ion-icon {
    font-size: 30px;
}

ion-card ion-card-title {
    font-size: 15px;
    text-transform: uppercase;
}

ion-card ion-card-content {
    font-size: .8em;
    text-transform: lowercase;
}

ion-content{
    --ion-background-color:rgb(143, 141, 141);
}
p{
    color:darkblue;
    font-family:cursive;
    font-style: oblique;
}
ion-header{
    --ion-background-color:rgb(143, 141, 141);
}