.size-logo img{
    max-width: 70px;
    max-height: 70px;
    margin: 0 auto;
    display: block;
}
ion-button{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style:inherit;
    color: slateblue;
}

ion-title{
    color:rgb(51, 39, 95);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style:inherit;
}
